*{
    color:rgb(199, 197, 197);
}

.directors, .movies{
display: flex;
flex-direction: column;
align-items: center;
flex-wrap:wrap;
margin:0px 100px;
} 

.movies__list{
    font-weight:bold;
    text-align: center;
}

.name{
    font-weight:bold;
}

.director-link{
    display: flex;
    justify-content: center;
}

.container{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20191113/pngtree-blue-film-technology-film-background-image_322042.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}